# Green AI Project

## Importing and parsing data

In [3]:
import dataRetriever as dr
import pandas as pd

df = dr.retrieveDataFromJson("https://magellan.airparif.asso.fr/geoserver/DIDON/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=DIDON:mes_idf_journalier_no2&outputFormat=application/json")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066 entries, 0 to 3065
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3066 non-null   int64
 1   nom_dept         3066 non-null   object
 2   nom_com          3066 non-null   object
 3   id_com           3066 non-null   object
 4   nom_station      3066 non-null   object
 5   code_station_ue  3066 non-null   object
 6   typologie        3066 non-null   object
 7   nom_poll         3066 non-null   object
 8   id_poll_ue       3066 non-null   object
 9   valeur           3066 non-null   float64
 10  unite            3066 non-null   object
 11  metrique         3066 non-null   object
 12  date_debut       3066 non-null   object
 13  date_fin         3066 non-null   object
 14  statut_valid     3066 non-null   object
 15  x                3066 non-null   int64
 16  y                3066 non-null   int64
 17  geometry         3066 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 431.3+ KB

In [5]:
df.head()

,id,nom_dept,nom_com,id_com,nom_station,code_station_ue,typologie,nom_poll,id_poll_ue,valeur,unite,metrique,date_debut,date_fin,statut_valid,x,y,geometry
0,1,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,35.3,ug.m-3,journaliere,2023-11-27T23:00:00Z,2023-11-28T23:00:00Z,1,651166,6862011,"{'type': 'Point', 'coordinates': [651166.31399..."
1,2,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,47.2,ug.m-3,journaliere,2023-11-28T23:00:00Z,2023-11-29T23:00:00Z,1,651166,6862011,"{'type': 'Point', 'coordinates': [651166.31399..."
2,3,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,46.3,ug.m-3,journaliere,2023-11-29T23:00:00Z,2023-11-30T23:00:00Z,1,651166,6862011,"{'type': 'Point', 'coordinates': [651166.31399..."
3,4,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,31.2,ug.m-3,journaliere,2023-11-30T23:00:00Z,2023-12-01T23:00:00Z,1,651166,6862011,"{'type': 'Point', 'coordinates': [651166.31399..."
4,5,PARIS,PARIS-6E-ARRONDISSEMENT,75106,Rue Bonaparte,4071,Trafic,NO2,8,38.0,ug.m-3,journaliere,2023-12-01T23:00:00Z,2023-12-02T23:00:00Z,1,651166,6862011,"{'type': 'Point', 'coordinates': [651166.31399..."